@charset "utf-8";

// メインコンテンツ
.lower {
  &__reservation {
    position: relative;
    padding: 40px 0;
    margin: 0 auto 72px;
    width: calc(100% - 40px);
    max-width: 1080px;
    background: rgba(255, 255, 255, 0.75);
    &::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: -25px;
      left: -50px;
      width: 160px;
      height: 110px;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../img/illust_masking01.png);
      z-index: 8;
    }
    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: -25px;
      right: -50px;
      width: 160px;
      height: 110px;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url(../img/illust_masking02.png);
      z-index: 8;
    }
    &--title {
      margin: 0 0 40px;
      text-align: center;
      font-size: 2.2rem;
      font-weight: $fw-m;
      letter-spacing: $letter-s-en;
      line-height: 1;
      svg {
        display: block;
        margin: 0 auto 10px;
        height: 30px;
      }
    }
    &--header {
      position: relative;
      margin: 0 0 40px;
      padding: 40px 20px;
      width: 100%;
      height: 230px;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: 50%;
      background-image: url(../img/mv_001.jpg);
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, .5)
      }
      &--title {
        padding: 0 20px;
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        z-index: 2;
        h2 {
          margin: 0 0 20px;
          text-align: center;
          color: $color-white;
          font-size: 1.7rem;
          letter-spacing: $letter-s-title;
        }
        p {
          text-align: center;
          color: $color-white;
          font-size: 1.4rem;
          line-height: $line-h-writing;
        }
      }
    }
    &--form {
      padding: 0 20px;
      &--heading {
        margin: 40px 0;
        text-align: center;
        font-size: 1.4rem;
      }
      &--contact {
        margin: 0 auto;
        max-width: 540px;
        dt {
          margin: 20px 0 5px;
          font-size: 1.4rem;
        }
        &--radio {
          margin: 10px 0 0;
          font-size: 1.6rem;
          letter-spacing: $letter-s-base;
          input[type="radio"] {
            margin: 0 8px 20px 0;
            width: 15px;
            height: 15px;
            background-color: $color-white;
            cursor: pointer;
          }
          label {
            margin: 0 0 20px;
            width: calc(100% - 23px);
          }
        }
        dd:not(:first-of-type) {
          flex-wrap: wrap;
        }
        dd {
          display: flex;
          align-items: center;
          input[type="text"],
          input[type="email"],
          input[type="tel"] {
            padding: 8px 10px;
            width: 100%;
            height: 42px;
            font-size: 1.6rem;
            letter-spacing: $letter-s-base;
            background-color: $color-white;
            border-radius: 4px;
            border: 1px solid #CED4DA;
            cursor: text;
          }
          div {
            position: relative;
            select {
              padding: 8px 10px;
              width: 100%;
              height: 42px;
              font-size: 1.6rem;
              letter-spacing: $letter-s-base;
              background-color: $color-white;
              border-radius: 4px;
              border: 1px solid #CED4DA;
              cursor: pointer;
            }
            &:first-of-type {
              margin: 0 20px 0 0;
              width: 65%;
            }
            &:last-of-type {
              width: 35%;
            }
            &::after {
              content: "";
              position: absolute;
              display: inline-block;
              top: 50%;
              right: 20px;
              width: 8px;
              height: 8px;
              border-top: 2px solid $color-base;
              border-right: 2px solid $color-base;
              transform: translateY(-50%) rotate(135deg);
              pointer-events: none;
            }
          }
        }
      }
      &--check {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 40px 0;
        font-size: 1.4rem;
        input[type="checkbox"] {
          display: block;
          width: 20px;
          height: 20px;
          background-color: $color-white;
          border-radius: 4px;
          cursor: pointer;
        }
        a {
          margin: 0 0 0 10px;
          text-decoration: underline;
          color: $color-btn;
        }
      }
      &--submit {
        position: relative;
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding: 20px;
        width: 245px;
        height: 60px;
        color: $color-white;
        font-size: 1.6rem;
        background-color: $color-btn;
        border-radius: 0 10px 0 10px;
        box-shadow: $shadow;
        svg {
          display: block;
          margin: 0 16px 0 0;
          height: 20px;
          fill: $color-white;
        }
        &::after {
          content: "";
          position: absolute;
          right: 20px;
          display: inline-block;
          width: 40px;
          height: 8px;
          border-bottom: 2px solid $color-white;
          border-right: 3px solid $color-white;
          transform: skew(45deg);
        }
      }
    }
  }
}

@media screen and (min-width: 768px) {
  // メインコンテンツ
  .lower {
    &__reservation {
      &::before {
        top: -45px;
        width: 300px;
        height: 200px;
      }
      &::after {
        position: absolute;
        top: -45px;
        width: 300px;
        height: 200px;
      }
      &--title {
        font-size: 4rem;
        svg {
          margin: 0 auto 20px;
          height: 40px;
        }
      }
      &--header {
        &--title {
          h2 {
            font-size: 2.8rem;
          }
          p {
            font-size: 1.6rem;
          }
        }
      }
      &--form {
        &--contact {
          &--radio {
            input[type="radio"] {
              margin: 0 8px 0 0;
              width: 20px;
              height: 20px;
            }
            label {
              margin: 0 30px 0 0;
              width: auto;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 1080px) {
  // メインコンテンツ
  .lower {
    &__reservation {
      &--form {
        &--check {
          a {
            transition: $hover-transition;
            &:hover {
              opacity: $hover-opacity;
            }
          }
        }
        &--submit {
          transition: $hover-transition;
          &:hover {
            opacity: $hover-opacity;
          }
        }
      }
    }
  }
}
