@charset "utf-8";

#body {
  position: fixed;
  visibility: hidden;
}

// opening-animation
.shutter{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-image: url(../img/mv_004.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 9999;
  animation: byeShutter 3.2s ease-in-out forwards;
  @keyframes byeShutter {
    60% {
      opacity: 1;
    }
    100% {
      opacity: 0;
      z-index: -1;
    }
  }
  &__logo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    top: 50%;
    left: 50%;
    margin: auto;
    z-index: 9999;
    background-color: $color-bg;
    border-radius: 100%;
    transform: translate(-50%, -50%) scale(1.4);
    animation: logo 1.4s ease-in-out forwards;
    animation-delay: 1.8s;
    @keyframes logo {
      0% {
        opacity: 1;
      }
      40% {  
        transform: translate(0, 0) scale(0.8);
      }
      100% {
        transform:translate(0, 0) scale(0.2);
        top: 20px;
        left: 20px;
      }
    }
  }
}

// logo
.logo {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 10;
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 80px;
    background-color: $color-bg;
    border-radius: 100%;
    box-shadow: $shadow;
    img {
      width: 73%;
    }
  }
}

// header
.header {
  &__wrap {
    position: absolute;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: 10;
    &--nav {
      height: 100%;
      overflow: hidden;
      &--left {
        position: absolute;
        top: 50%;
        left: 100px;
        width: 40px;
        height: 100%;
        transform: translateY(-50%);
        z-index: 9999;
        &--btn {
          position: absolute;
          opacity: 0;
          left: 0;
          width: 40px;
          height: 100%;
          z-index: 9999;
          cursor: default;
          &::after {
            content: "";
            display: block;
            margin: 0 auto;
            width: 12px;
            height: 12px;
            border-top: 2px solid $color-white;
            border-right: 2px solid $color-white;
            transform: rotate(225deg);
          }
        }
      }
      &--right {
        position: absolute;
        top: 50%;
        right: 0;
        width: 40px;
        height: 100%;
        transform: translateY(-50%);
        z-index: 9999;
        &--btn {
          position: absolute;
          right: 0;
          width: 40px;
          height: 100%;
          z-index: 9999;
          cursor: pointer;
          &::after {
            content: "";
            display: block;
            margin: 0 auto;
            width: 12px;
            height: 12px;
            border-top: 2px solid $color-white;
            border-right: 2px solid $color-white;
            transform: rotate(45deg);
          }
        }
      }
      ul {
        padding: 20px 0 50px;
        margin: 0 40px 0 140px;
        width: calc(100% - 180px);
        height: auto;
        text-align: center;
        overflow-x: auto;
        overflow-y: hidden;
        white-space: nowrap;
        box-sizing: border-box;
        li {
          display: inline-block;
          &:first-of-type {
            border-bottom: 2px solid $color-white;
          }
          &:not(:first-of-type) {
            a {
              position: relative;
              &::before,
              &::after {
                content: "";
                position: absolute;
                display: block;
                width: 0;
                bottom: 0;
                border-bottom: solid 2px $color-white;
                transition: $hover-transition;
              }
              &::before {
                left: 50%;
              }
              &::after {
                right: 50%;
              }
            }
          }
          &:not(:last-of-type) {
            margin: 0 20px 0 0;
          }
          a {
            display: inline-block;
            padding: 0 0 8px;
            color: $color-white;
            font-size: 1.4rem;
            transition: $hover-transition;
            svg {
              display: block;
              margin: 0 auto 8px;
              height: 30px;
              fill: $color-white;
            }
          }
        }
      }
    }
  }
  // MV_slider
  &__mv-slider {
    margin: 0 !important;
    &--img {
      position: relative;
      display: block !important;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      &--caption {
        position: absolute;
        bottom: 40px;
        left: 20px;
        color: $color-white;
        font-size: 2.2rem;
        font-weight: $fw-l;
        letter-spacing: $letter-s-title;
        h1, h2 {
          rt {
            font-size: 1rem;
          }
        }
        &--wrap {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin: 15px 0 0;
          padding: 15px 20px;
          width: 280px;
          height: 60px;
          background-color: $color-white;
          border-radius: 10px;
          p {
            color: $color-base;
            font-size: 1.6rem;
            font-weight: $fw-m;
            letter-spacing: $letter-s-en;
          }
          &--sns {
            display: flex;
            justify-content: space-between;
            width: 120px;
            a {
              width: 30px;
              img {
                display: block;
                width: 30px;
                height: 30px;
              }
            }
          }
        }
        &--btn {
          margin: 15px 0 0;
          width: 260px;
          height: 60px;
          a {
            position: relative;
            display: flex;
            align-items: center;
            padding: 0 20px;
            width: 100%;
            height: 100%;
            color: $color-btn;
            font-size: 1.6rem;
            font-weight: $fw-m;
            letter-spacing: $letter-s-en;
            background-color: $color-white;
            border-radius: 0 10px 0 10px;
            box-shadow: $shadow;
            svg {
              margin: 0 16px 0 0;
              height: 20px;
              fill: $color-btn;
            }
            &::before {
              content: "";
              position: absolute;
              left: 200px;
              width: 40px;
              height: 2px;
              background-color: $color-btn;
              animation: arrowlong01 2s ease infinite;
            }
            &::after {
              content: "";
              position: absolute;
              left: 200px;
              bottom: 29px;
              width: 2px;
              height: 8px;
              border-bottom: 3px solid $color-btn;
              border-right: 3px solid $color-btn;
              transform: skew(45deg);
              animation: arrowlong02 2s ease infinite;
            }
            @keyframes arrowlong01{
              0% {
                width: 0;
                opacity: 0
              }
              20% {
                width: 0;
                opacity: 1
              }
              80% {
                width: 40px;
                opacity: 1
              }
              100% {
                width: 40px;
                opacity: 0
              }
            }
            @keyframes arrowlong02{
              0% {
                left: 196px;
                opacity: 0
              }
              20% {
                left: 196px;
                opacity: 1
              }
              80% {
                left: 236px;
                opacity: 1
              }
              100% {
                left: 236px;
                opacity: 0
              }
            }
          }
        }
      }
    }
    &--img01 {
      background-image: url(../img/mv_001.jpg);
    }
    &--img02 {
      background-image: url(../img/mv_002.jpg);
    }
    &--img03 {
      background-image: url(../img/mv_003.jpg);
    }
    &--img04 {
      background-image: url(../img/mv_004.jpg);
    }
    .slick-dots {
      bottom: 1%;
      z-index: +1;
    }
  }
}

// MENU_slider
.menu-slider {
  &__wrap {
    display: flex;
    overflow: hidden;
    &:hover .menu-slider__list--left {
      animation-play-state: paused;
    }
  }
  &__list {
    display: flex;
  }
  &__list--left{
    animation :infinity-scroll-left 95s infinite linear .5s both;
  }
  &__item {
    width: calc(100vw / 5);
    figure {
      position: relative;
      overflow: hidden;
      img {
        width: 100%;
      }
    }
    figcaption {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 20px;
      color: $color-base;
      font-size: 1.6rem;
      font-weight: $fw-b; 
      background-color: rgba(242, 236, 221, .65);
      opacity: 0;
      transition: .6s;
      transform: rotateY(-180deg);
    }
  }
}

@keyframes infinity-scroll-left {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media screen and (min-width: 768px) {
  // logo
  .logo {
    a {
      width: 100px;
      height: 100px;
    }
  }

  // header
  .header {
    &__wrap {
      &--nav {
        &--right {
          &--btn {
            opacity: 0;
          }
        }
        ul {
          margin: 0 40px 0 160px;
          width: calc(100% - 200px);
        }
      }
    }
    &__mv-slider {
      &--img {
        &--caption {
          bottom: 65px;
          font-size: 4rem;
        }
      }
    }
  }

  // MENU_slider
  .menu-slider {
    &__item {
      width: calc(100vw / 6);
    }
  }
}

@media screen and (min-width: 1080px) {
  // opening-animation
  .shutter{
    &__logo {
      @keyframes logo {
        20% {
          opacity: 1;
        }
        40% {  
          transform: translate(0, 0) scale(0.8);
        }
        100% {
          transform:translate(0, 0) scale(0.2);
          top: 30px;
          left: 30px;
        }
      }
    }
  }
  
  // logo
  .logo {
    a {
      width: 150px;
      height: 150px;
      transition: $hover-transition;
      &:hover {
        opacity: $hover-opacity;
      }
    }
  }
  
  // header
  .header {
    &__wrap {
      &--nav {
        ul {
          margin: 0 auto;
          height: 100%;
          li {
            &:not(:first-of-type) {
              a {
                font-size: 1.6rem;
                &::before,
                &::after {
                  transition: $hover-transition;
                }
                &:hover::before,
                &:hover::after {
                  width: 50%;
                }
              }
            }
            &:not(:last-of-type) {
              margin: 0 30px 0 0;
            }
            a {
              font-size: 1.6rem;
              transition: $hover-transition;
              &:hover {
                opacity: $hover-opacity;
              }
            }
          }
        }
      }
    }
    // MV_slider
    &__mv-slider {
      margin: 0 !important;
      &--img {
        &--caption {
          &--btn {
            a {
              transition: $hover-transition;
              &:hover {
                opacity: $hover-opacity;
              }
            }
          }
          h1, h2 {
            rt {
              font-size: 1.2rem;
            }
          }
        }
      }
      .slick-dots {
        bottom: 4%;
        z-index: +1;
      }
    }
  }
  
  // MENU_slider
  .menu-slider {
    &__item {
      width: calc(100vw / 8);
      figure {
        &:hover figcaption {
          opacity: 1;
          transform: rotateY(0deg);
        }
      }
    }
  }
}